<!DOCTYPE html>
<html>
  <head>
    <title>SocialN</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <%= render 'layouts/navbar' %>

      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>

        <% end %>
        
        </div>
      <%= render 'layouts/footer' %>


    <%= yield %>
    <div class="page-wrap">
    <%= render 'layouts/footer' %>
    </div>
  
  </body>
</html>
